
body {
  font-family: 'Poppins', serif;
}

@media(min-width:1400px){
  #main-container {
    width: 85%;
  }
}

@media(max-width:999px){
  #main-container {
    width: 100%;
  }
}

@media(max-width: 1399px){
  #main-container {
    width: 90%;
  }
}

/* .jumbotron {
  position: relative;
  height: 500px;
  background: url(https://upload.wikimedia.org/wikipedia/commons/c/cf/BYU_Campus_North.jpg);
  background-position: center;
} */

.banner {
  width: 100%;
  height: 400px;
  background: url('../images/banner.jpg');
  background-size: cover;
  /* box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2); */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  padding-left: 1em;
  margin-bottom: 10em;
}

.bannerTitle {
  /* flex-basis: 50%; */
  margin-left: 30px;
  margin-top: 2em;
  font-size: 2.4em;
}

.bannerSubtitle {
  /* flex-basis: 25%; */
  margin-left: 30px;
  font-size: 1.2em;
}

.bannerCTA {
  /* flex-basis: 25%; */
  margin-top: 2em;
  margin-left: 30px;
  color: black;
}

.title {
  color: black;
  text-shadow: 0 0 8px #ffffff;
  font-size: 120px;
  font-weight: 800;
}

.subtitle {
  color: black;
  margin-top: 1rem;
}

.searchIcon {
  position: absolute;
  right: 0;
  left: auto;
}

@media(max-width: 799px){
  .searchDropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-flow: wrap; */
    align-items: center;
    align-content: center;
  }
}
@media(min-width: 800px){
  .searchDropdown {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-flow: wrap; */
    align-items: center;
    align-content: center;
  }
}


.searchDropdown div {
  background-color: white;
  text-align: left;
  padding: .5em;
  margin: 0;
  width: 100%;
  cursor: pointer;
}

.searchDropdown div:hover {
  background-color: #2077B0;
  color: white;
  text-align: left;
  padding: .5em;
  margin: 0;
  width: 100%;
  cursor: pointer;
}

.trending {
  color: black;
  font-weight: 700;
  padding-top: .5em;
}

.trending:hover {
  font-weight: 700;
  padding-top: .5em;
  cursor: pointer;
}

.trending-item {
  cursor: pointer;
}

.trending-item:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

.profile {
  height: 140px;
  width: 200px;
  border-radius: 25px;
}

.badges {
  margin-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;
}

.signInButton {
  height: 10px;
  padding: 5px;
  width: 200px;
}

.tableSelectedUp {
  color: green
}

/* .tableSelectedUp:hover {
  color: rgb(184, 235, 177);
  transition: color 200ms linear;
} */

.tableSelectedDown {
  color: red
}

/* .tableSelectedDown:hover {
  color: rgb(221, 146, 146);
  transition: color 200ms linear;
} */

.tableNotSelectedUp {
  color: black
}

.tableNotSelectedUp:not(:focus):hover {
  color: rgb(184, 235, 177);
  transition: color 200ms linear;
}

.tableNotSelectedUp:focus {
  color: green;
  transition: color 200ms linear;
}

.tableNotSelectedDown {
  color: black
}

.tableNotSelectedDown:hover {
  color: rgb(221, 146, 146);
  transition: color 200ms linear;
}

#jumbo {
  color: red
}

.sidebarSelected {
  font-weight: 800;
  color: black;
}

.sidebarNotSelected {
  font-weight: 400;
  color: black;
}



.pageNav {
  display: inline-block;
  font-size: 1.2em;
}

@media(min-width:760px){
  .searchBar {
    margin: 0;
  }
}

@media(max-width:759px){
  .searchBar {
    margin: 0;
    margin-left: 15px;
  }
}

.imgContent {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  align-items: center;
  align-content: center;
}

.imgChild {
  margin: 20px;
  object-fit: cover;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

@media(min-width:760px){
  .detailContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    margin-right: 6em;
    margin-left: 6em;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: left;
  }
}

@media(max-width:759px){
  .detailContent {

    margin-right: 1em;
    margin-left: 2em;
    text-align: left;
  }
}

@media(min-width:760px){
  .chartContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    align-items: center;
    align-content: center;
    margin-right: 6em;
    margin-left: 6em;
    text-align: left;
  }
}

@media(max-width:759px){
  .chartContent {

    margin-right: 2em;
    margin-left: 1em;
    text-align: left;
  }
}

.detailChild {
  flex-basis: 30%;
  margin: 20px;
  margin-left: 0;
}

.detailChildTitle {
  margin: 20px;
  margin-left: 0;
  flex-basis: 60%;
}

@media(min-width:760px){
  .tableHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px black solid;
    align-items: flex-end;
    align-content: flex-end;
    margin-top: 3em
  }
}

@media(max-width:759px){
  .tableHeader {
    font-size: ".5em";
  }
}

.tableHeaderSearch {
  flex-basis: 60%;
  margin: 20px;
  margin-left: 0;
}

.tableHeaderToggle {
  flex-basis: 20%;
  margin: 20px;
  margin-left: 0;
}

.tableHeaderResults {
  flex-basis: 20%;
  margin: 20px;
  margin-left: 0;
  font-size: 1.1em;
  font-weight: 700;
}

.headerSearchBar {
  width: 70%;
}




.title {
  display: flex;
  flex-direction: column;
}

@media(min-width:760px){
  .backButton {
    display: flex;
    margin-left: 6em;
    margin-right: auto;
  }
}

@media(max-width:759px){
  .backButton {
    display: flex;
    margin-left: 2em;
    margin-right: auto;
  }
}

.table {
  width: 100%;
}


@media(min-width:760px){
  .tableItem {
    /* flex-basis: 90%; */
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-content: center;
    margin-top: 3em;
    text-align: left;
    margin-bottom: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
    /* border-bottom: 1px #ccc solid; */
    /* border: 1px rgba(0, 0, 0, 0.2) solid; */
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 8%), 0 0 4px 0 rgb(0 0 0 / 8%);
    border-radius: 20px;
  }
}



@media(max-width:759px){
  .tableItem {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    align-content: center;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 3em;
    text-align: left;
    margin-bottom: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
    /* border-bottom: 1px #ccc solid;
    border-top: 4px #ccc solid; */
  }
}

/* .ratingRow {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  align-content: center;
} */

.scoreInfo {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  align-content: center;
  padding-left: 1em;
}

.ratingButtons {
  /* flex-basis: 20%; */
  /* padding-left: 5em; */
  font-size: 2.5em;
  cursor: pointer;
  
}

.ratingButtons:hover {
  /* flex-basis: 20%; */
  /* padding-left: 5em; */
  font-size: 2.5em;
  cursor: pointer;
  
}

.scoreDisplay {
  /* flex-basis: 20%; */
  /* padding-left: 1em;
  padding-right: 2em; */
  font-size: 1.3em;
  padding: 1em 0;
  
}

.tableItemImg {
  flex-basis: 25%;
  padding-left: 3em;
  cursor: pointer;
}

.tableItemContent {
  flex-basis: 60%;
    display: flex;
    padding-left: 1em;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    align-content: center;
    cursor: pointer;
    text-align: left;
}

.tableItemExtra {
  flex-basis: 10%;
  cursor: pointer;
  align-self: flex-start;
}

.tableItemTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;

}

.tableItemSubtitle {
  /* margin-left: 2.8em; */
  font-size: 1.2em;
  font-weight: 300;
}

.tableItemDetails {
  margin-top: 0.5em;
  /* margin-left: 4.6em; */
  font-weight: 500;
  font-size: 1em;
}

.tableItemTitleHeading {
  font-size: 1.5em;
  font-weight: 600;
  padding-left: 0.5em;
}

.tableItemTitleRanking {
  font-size: 1.5em;
  font-weight: 600;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
}

#dropdown-basic::after {
  display:none;
}

.cardEllipsis {
  color: black;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: white;
  border: none;
  transition: none;
}
.cardEllipsis:hover {
  color: black;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: radial-gradient(rgba(136, 136, 136, 0.2), white);
  border: none;
  
}
.cardEllipsis:active {
  color: black;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: radial-gradient(rgba(136, 136, 136, 0.2), white);
  border: none;
  
}
.cardEllipsis:focus {
  color: black;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: radial-gradient(rgba(136, 136, 136, 0.2), white);
  border: none;
  
}



/* select ever item in the table (excluding the first one) */
/* .table > .tableItem ~ .tableItem {
  border-top: none;
  padding-top: 0;
} */










.tableItemThirdTitle {
  font-size: 1.4em;
}

.headerContainer {
  margin: 0 0 3em 0;
  background-size: cover;
  background-position: center center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative; 
  width: 100%;
  height: 300px;
  box-shadow: inset 0px -20px 100px rgba(0,0,0,0.9);
}

#categoryTitle {
  left: 80px;
  bottom: 10px;
  color: white;
  position: absolute;
}

@media(min-width:760px){
  .categoryPreview {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: wrap;
    align-items: flex-start;
    align-content: center;
    margin-top: 2em;
    
  }
}

@media(max-width:759px){
  .categoryPreview {

    margin-right: 1em;
    margin-left: 2em;
    text-align: left;
  }
}

.categorySection {
  margin: 6em 0 4em 0;
  text-align: left;
}

.categoryItemPreview {
  margin: 0 2em 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* flex-flow: wrap; */
  align-items: flex-start;
  align-content: flex-start;
  flex-basis: 25%;
  border: none;
  cursor: pointer;
  /* box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2); */
}

.catPreviewImg {
  /* box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2); */
  background: url('../images/boardgame.jpg');
  background-size: cover;
  border-radius: 20%;
  width: 200px;
  height: 200px;
  
}

.catPreviewTitle {
  font-weight: 700;
}

.catPreviewSubtitle {
  color: darkgrey;
}

.catPreviewItem {
  margin: 0 2em 2em 2em;
}

.tableFooter {
  margin: 2em 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  /* flex-flow: wrap; */
  align-items: flex-start;
  align-content: flex-start;
  border: none;
}

.footerResults {
  flex-basis: 35%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* flex-flow: wrap; */
  align-items: flex-end;
  align-content: flex-start;
}

.footerDetail {
  font-size: 1.2em;
  /* margin-bottom: 5px; */
}

.footerButton {
  font-size: 1em;
  /* margin-bottom: 2em; */
  color: #0000EE;
  cursor: pointer;
}

.footerButton:hover {
  font-size: 1em;
  /* margin-bottom: 2em; */
  color: #00beee;
  text-decoration: underline;
}

.footerExtra {
  font-size: .8em;
  /* margin-bottom: 2em; */
}

.testImage {
  padding: 10px;
  cursor: pointer;
}

.testImageClicked {
  cursor: pointer;
  border: 5px solid blue;
  box-sizing: border-box;
}

.testImageContainer {
  display: flex;
  flex-wrap: wrap;
}

.categoryDetails {
  display: flex;
  justify-content: space-between;
}