
.title {
  color: rgb(255, 255, 255);
  font-size: 120px;
  font-weight: 800;
}

.subtitle {
  color: rgb(255, 255, 255);
  margin-top: 1rem;
}

.profile {
  height: 200px;
  width: 200px;
  border-radius: 25px;
}

.badges {
  margin-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;
}

.signInButton {
  height: 10px;
  padding: 5px;
  width: 200px;
}

.tableSelectedUp {
  color: green
}

.tableSelectedDown {
  color: red
}

.tableNotSelected {
  color: black
}